@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}


.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.grid-drop {
    display: flex;
    flex-wrap: wrap;
    width: 1536px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 128px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 128px;
}

/* .board-row:after {
    clear: both;
    content: "";
    display: table;
} */

.puntocard {
    background-color: black;
    height: 128px;
    width: 128px;
    font-size: 24px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.point {
    border-radius: 50px;
    height: 20px;
    width: 20px;
}

.cards-list {
    display: flex;
    flex-direction: row;
}

.home {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../public/img/card/bg-home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-title  {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-title h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 100px;
}

.home-button {
    width: 100%;
    height: 60%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-button a {
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    text-decoration: none;
    margin-bottom: 2em;
    transition: 0.2s ease;
    padding: 1em;
    font-size: 25px;
    border-radius: 15px;
}

.home-button a:hover {
    background-color: #fff;
    color: #eb0c07;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('../../public/img/card/bg-login.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.frm-login {
    background-image: url('../../public/img/card/bg-login-frm.png');
    width: 868px;
    height: 484px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-title {
    height: 25%;
}

.login-title h1 {
    font-family: 'Press Start 2P', cursive;
}

.login-input{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-input input {
    padding: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    border-width: 3px;
    color: #eb0c07;
    border-color: #000;
    background-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    margin-bottom: 2em;
}

.login-input button {
    font-family: 'Press Start 2P', cursive;
    padding: 1em;
    color: #72b80a;
    background-color: #fff;
    border-radius: 15px;
    font-size: 16px;
    border: 2px solid black;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    transition: 0.2s ease;
}

.login-input button:hover {
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

