* {
    margin: 0;
    padding: 0;
}


.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 128px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 128px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.puntocard {
    background-color: black;
    height: 128px;
    width: 128px;
    font-size: 24px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.point {
    border-radius: 50px;
    height: 20px;
    width: 20px;
}

.cards-list {
    display: flex;
    flex-direction: row;
}

