@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --black: #191B1B;
    --white: #fff;
    --primary: #0EB552;
    --border-input: #17647C; 
    --danger: #E52515;
    --yellow: #fcb201;
    --game-p: 'Press Start 2P', cursive;
    --open-s: 'Open Sans', sans-serif
}

.img-card-punto {
    height: 46px;
    width: 46px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #000;

    .home-title {

        height: 25%;
        h1 {
            font-family: var(--game-p);
            font-size: 90px;
        }
    }

    .home-button {
        display: flex;
        flex-direction: column;

        a {
            margin: 1rem;
            text-decoration: none;
            text-align: center;
            font-family: var(--game-p);
            font-size: 30px;
            color: var(--yellow);
            border: 8px solid var(--black);
            padding: 13px;
            border-radius: 20px;
            background-color: #17647C;
            transition: 0.2s ease;

            &:hover {
                cursor: pointer;
                border: 8px solid #000;
                background-color: var(--white);
                color: #191B1B;
            }
        }

    }
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .cards-player {
        margin-top: 1em;
    }
    
    .grid {

        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .grid-drop {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        
            .square {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 64px;
                height: 64px;
                border: 1px solid black;
                border-radius: 5px;
            }
        }
    }
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: initial;
}

.frm-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    height: 100vh;

    .frm-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: var(--black);
        border: 2px solid var(--black);
        box-shadow: 0px 3px 15px -2px #000;
        border-radius: 20px;
        height: auto;
        width: 50%;

        .frm-title {
            padding: 2rem;

            h3 {
                font-family: var(--game-p);
                font-size: 50px;
                text-align: center;
                color: var(--white);
                text-transform: uppercase;
            }
        }

        .frm-contain {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .invalidMessage {
                padding: 1rem;
                p {
                    font-size: 17px;
                    font-family: 'Open Sans', sans-serif;
                    color: var(--danger);
                }
            }
            
            
            .frm-contain-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .frm-contain-content-input {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 1rem 0;

                    p {
                        color: var(--danger);
                        font-family: 'Open Sans', sans-serif;
                        text-align: center;
                    }
                    
    
                    .border-red {
                        border: 2px solid var(--danger);
                    }
                    
                    input {
                        padding: 12px;
                        font-size: 15px; 
                        font-family: var(--game-p);
                        border-radius: 20px; 
                        margin-bottom: 1rem;
                        border: 2px solid var(--border-input);
                        background-color: var(--black);
                        color: var(--white);
                        text-align: center;
                        
                    }
                }

               
            }

            .frm-contain-button {
                margin: 2rem;

                button {
                    padding: 10px;
                    border-radius: 20px;
                    font-family: var(--game-p);
                    border: 2px solid var(--primary);
                    background-color: var(--black);
                    font-size: 20px;
                    transition: 0.2s ease;
                    color: var(--white);
                    &:hover {
                        cursor: pointer;
                        color: var(--white);
                        background-color: var(--primary);
                    }
                }
            }

        }

    }
}

